@font-face {
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    src: url('Roboto/Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
        url('Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('Roboto/Roboto-Regular.woff2') format('woff2'),
        url('Roboto/Roboto-Regular.woff') format('woff'),
        url('Roboto/Roboto-Regular.ttf') format('truetype');
}
